.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;

  h1 {
    text-align: center;
    font-size: 30px;
  }

  .job-list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    ul{
      width: fit-content;
      
      li{
        border-bottom: 1px solid ;
        padding: 5px;
        cursor: pointer;
        &:hover{
          color: blue;
        }
      }
    }
  }
}
